@charset "UTF-8";

html {
    font-size: 150%;
    width: 80%;
    margin: auto;
    font-family: 'メイリオ', Meiryo,serif;
    background-color:#ffffff;
}
body {
    color: #383e45;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
    margin: 1rem 1.5rem;
}
/*-------------------------------------------
ヘッダー
-------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: 0 0;
    padding: 0 4%;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 58px;
    background: #182158;
    font-family: 'Fleur De Leah', cursive;
}
#header ul {
    display: flex;
    padding: 7px 0;
}
#header li {
    font-size: 1.3rem;
    margin-left: 20px;
}
#header input {
    display       : inline-block;
    border-radius : 20%;          /* 角丸       */
    font-size     : 20pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #182158;     /* 背景色     */
    color         : #b4db03;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    font-family: 'Kaisei Tokumin', serif;
    font-weight: bold;
    letter-spacing: 0.2em;
}
#header input:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #182158;     /* 背景色     */
  background    : #b4db03;     /* 文字色     */
}
.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
    font-size: 2rem;
    color: #b4db03;
}
.site-title a {
    display: block;
}
/*-------------------------------------------
main-img
-------------------------------------------*/
.main-img {
    text-align: center;
    margin: 1rem 1rem;
}
.main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*-------------------------------------------
about
-------------------------------------------*/
#about .content {
    display: flex;
    flex-direction: column;
}
/*-------------------------------------------
images
-------------------------------------------*/
#images{
    margin-top: 20px;
}
#images article{
    display: flex;
}

#images img{
    object-fit: cover;
    width: auto;
    height: 300px;
}

.sec-title {
    font-size: 1.5rem;
    padding: 0.5em;/*文字周りの余白*/
    color: #010101;/*文字色*/
    background: #eaf3ff;/*背景色*/
    border-bottom: solid 3px #516ab6;/*下線*/
}

#images li{
    color: #010101;
}


/*-------------------------------------------
images2
-------------------------------------------*/
#images2{
    margin-top: 20px;
}
#images2 article{
    display: flex;
}

#images2 img{
    object-fit: cover;
    width: auto;
    height: 300px;
}
/*-------------------------------------------
images3
-------------------------------------------*/
#images3{
    margin-top: 20px;
}
#images3 article{
    display: flex;
}

#images3 img{
    object-fit: cover;
    width: auto;
    height: 300px;
}
/*-------------------------------------------
images4
-------------------------------------------*/
#images4{
    margin-top: 20px;
}
#images4 article{
    display: flex;
}

#images4 img{
    object-fit: cover;
    width: auto;
    height: 300px;
}
/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width:480px) {
    .site-title{
        font-size: 1rem;
    }
    #header li {
        font-size: 0.7rem;
    }
    .sec-title {
        font-size: 1rem;
    }
    #about li {
        text-align: left;
        margin: 1rem 0;
    }
    #images ul {
    display: block;
}
    #images li {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}
    #header input {
    display       : none;
}
#images article{
    display: block;
}
#images2 article{
    display: block;
}
#images3 article{
    display: block;
}
#images4 article{
    display: block;
}
}
