@charset "utf-8";

.red{
    color: red;
    text-align: left;
    background-color: #000;
    width: 33%;
    font-size: larger;
}

.blue{
    color: blue;
    text-align: center;
    background-color: #000;
    width: 33%;
    font-size: large;
}

.green{
    color: green;
    text-align: right;
    background-color: #000;
    width: 33%;
    font-size: large;
}
